fastapi
uvicorn[standard]
python-multipart
pydantic
aiofiles
PyPDF2
pdfplumber
pytesseract
faiss-cpu
numpy
python-dotenv
langchain
langchain-openai
langchain-community
openai
httpx
bcrypt
python-jose[cryptography]
jwt
aiosmtplib 
email-validator
pdfrw
python-docx
